@model KEN.Models.ClientContactViewModel
@{
    Layout = "~/Views/Shared/_ClientLayoutTheme.cshtml";
}
<style>
    .card-notification {
        right: 400px;
    }
</style>


<div class="row g-0">
    <div class="col-lg-8 pe-lg-2">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="mb-0">Profile Settings</h5>
            </div>
            <div class="card-body bg-light">
                @using (Html.BeginForm("EditProfile", "Contact", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", id = "contactForm", @class = "row g-3" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="col-lg-6">
                        <label class="form-label" for="first-name"><span class="me-1 spanrequired">*</span>First Name</label>
                        @Html.TextBoxFor(model => model.FirstName, new { id = "txtfirstnm", @class = "form-control", placeholder = "First Name", @value = Model.FirstName })
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label" for="last-name"><span class="me-1 spanrequired">*</span>Last Name</label>
                        @Html.TextBoxFor(model => model.LastName, new { id = "txtlastnm", @class = "form-control", placeholder = "Last Name", @value = Model.LastName })
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label" for="email1"><span class="me-1 spanrequired">*</span>Email</label>
                        @Html.TextBoxFor(model => model.Email, new { id = "txtemail", @class = "form-control", placeholder = "Email", @value = Model.Email, @readonly = "readonly" })
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label" for="email2"><span class="me-1 spanrequired">*</span>Phone</label>
                        @Html.TextBoxFor(model => model.Contact, new { id = "txtcontact", @class = "form-control", @value = Model.Contact, placeholder = "Contact Number" })

                    </div>


                    <div class="col-12 d-flex justify-content-end">

                        <input class="submit btn btn-primary mt-3" type="submit" name="submit" value="Update">
                    </div>


                }


            </div>
        </div>


    </div>

</div>

<div class="modal fade" id="quotesModal" tabindex="-1" role="dialog" aria-labelledby="quotesModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 1021px; margin-left: -250px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal">Quote Details</h5>
                <button type="button" class="close closebutton" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" onclick="closeModal()">&times;</span>
                </button>
            </div>
            <div class="modal-body row m-1">
                <div class="table-responsive scrollbar">
                    <table class="table table-bordered table-striped fs--1 mb-0" id="addresstable1">
                        <thead class="bg-200 text-900">
                            <tr>
                                <th class="sort" data-sort="name">Front Image</th>
                                <th class="sort" data-sort="attention">Process</th>
                                <th class="sort" data-sort="attention">Quantity</th>
                                <th class="sort" data-sort="color">Color</th>
                                <th class="sort" data-sort="stitches">Stitches</th>
                                <th class="sort" data-sort="size">Size</th>
                                <th class="sort" data-sort="print">Print Price</th>
                                <th class="sort" data-sort="tshirt">Tshirt Price</th>
                                <th class="sort" data-sort="unit">Unit Price</th>
                                <th class="sort" data-sort="total">Total Price</th>


                            </tr>
                        </thead>
                        <tbody id="listdetail">
                        </tbody>
                    </table>
                </div>
                <div class="col-12 total1">
                    <div class="col-4">
                        Total: <span class="col-4" id="price">
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmOk" onclick="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>
